/*
COULEURS :
Gris foncé => rgb(32,32,32);
Orange => rgb(200,200,200);
Gris => rgb(64,64,64);
Orange => rgb(204,102,0);
Gris Mi-foncé => rgb(40,40,40);
*/

*{
  font-family: 'Niramit', sans-serif;
}

body{
  background-color: rgb(32,32,32);
  color: white;
  width: auto;
  height:100%;
  margin:0;
  padding:0;
}

header{
  text-align: center;
}

h1{
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 0px;
}

h3{
  color: rgb(200,200,200);
}

.credits li{
  list-style: none;
  display: inline;
  padding: 0px 12px;
  float: left;
}

.credits ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.button{
  background-color: rgb(64,64,64);
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width:128px;
  -webkit-transition: background-color .25s; /* Safari */
  transition: background-color .25s;
}

.button:hover{
  background-color: rgb(204,102,0);
}
#clear:hover{
  background-color: rgb(255,0,0);
}

.interface{
  display: flex;
  justify-content:space-evenly;
  padding: 4px;
  width: 1000px;
  margin: auto;
}

#commands{
  align-self: flex-end;
  justify-content: space-between;
  display: flex;
  padding-top: 4px;
}

#pied {
  height:44px;
  padding-top:16px;
  background:white;
  color: rgb(150,150,150);
  font-weight:bold;
  font-size:16px;
  text-align:center;
  margin-top:32px;
  bottom:0;
  left:0;
  width:auto;
  background-color: rgb(40,40,40);
}

#visual_console{
  width: 500px;
  height:333px;
  padding: 15px;
  line-height: 6px;
  margin: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow:auto;
  text-overflow:ellipsis clip;
  color: white;
}

#input{
  width: 255px;
  height:255px;
  margin: auto;
  background-color: rgb(150,150,150);
  display: flex;
  justify-content: center;
  align-items: center;
}

#input p{
  color: black;
}

#visual_console p{
  padding: 0;
  margin: 6px 0px;
  font-size: 16px;
}
