*{
  font-family: 'Roboto Condensed', sans-serif;
}

html
{
    overflow: hidden;
}

body
{
    margin: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
}

.main-container{
  background-image: url("ressources/images/background_theme.png");
  background-size: cover;
  background-repeat: repeat-y;
  z-index: =-1;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  height: 100%;

}

.background{
  background-color: rgba(255,255,255,0);
  flex-basis: 20%;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content:stretch;
  justify-content: center;
}

.logo-container{
  padding: 25px;
  margin: 0;
  background-color: white;
  width:auto;
  height: auto;
  flex-grow: 1;
}

#logo{
  width:100%;
  height:100%;
}

.content{
  background-color: #95A5A6;
  align-items: stretch;
  flex-basis: 60%;
  text-align: center;
  display:flex;
  flex-direction: column;
}

.panel,.results{
  padding: 0;
  margin: 8px;
}

.panel{
  border: solid red 1px;
  height: 100%;
  height: 640px;
}

.results{
  border: solid blue 1px;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  flex:1;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.result-item{
  padding: 5px;
  margin: 0;
}

footer{
  background-color: #7F8C8D;
  text-align: center;
  padding: 0;
  line-height:.8em;
}

.authors{
  float: left;
  margin-left: 0;
}

.authors ul{
  list-style: none;
  margin-left: 0;
}

.authors li{
  display: inline-block;
  margin: 0px 16px;
}

.rights{
  float: right;
  margin: 0px 16px;
}
